<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.HospitalSystem_Interface.Mapper.DepartmentMapper">
    <insert id="insertDepartment" parameterType="com.HospitalSystem_Pojo.Entity.Department">
        insert into Department (dep_no, dep_name) values (#{dep_no}, #{dep_name})
    </insert>

    <update id="updateDepartment" parameterType="com.HospitalSystem_Pojo.Entity.Department">
        update Department set dep_name = #{dep_name} where dep_no = #{dep_no}
    </update>

    <select id="getDepartment" parameterType="Integer" resultType="com.HospitalSystem_Pojo.Entity.Department">
        select dep_no, dep_name from Department where dep_no = #{dep_no}
    </select>

    <select id="getDoctorsByDepartmentNo" parameterType="Integer" resultType="com.HospitalSystem_Pojo.Entity.Doctor">
        select * from Doctor join Department on Doctor.dep_no = Department.dep_no where department.dep_no = #{dep_no}
    </select>

    <select id="getDoctorsByDepartmentName" parameterType="String" resultType="com.HospitalSystem_Pojo.Entity.Doctor">
        select * from Doctor join Department on Doctor.dep_no = Department.dep_no where department.dep_name = #{dep_name}
    </select>

    <select id="transferDoctorsToDepartment">
        update Doctor set dep_no = #{param2} where dep_no = #{param1}
    </select>

    
    <select id="getAllDepartments" resultType="com.HospitalSystem_Pojo.Entity.Department">
        select dep_no, dep_name from Department
    </select>
</mapper>