<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.HospitalSystem_Interface.Mapper.PatientMapper">
    <insert id="insertPatient" parameterType="com.HospitalSystem_Pojo.Entity.Patient">
        insert into Patient(id, name, sex, birthdate, password) values (#{id}, #{name}, #{sex}, #{birthdate}, #{password})
    </insert>

    <update id="updatePatient" parameterType="com.HospitalSystem_Pojo.Entity.Patient">
        update Patient set name = #{name}, sex = #{sex}, birthdate = #{birthdate}, password = #{password}
        where id = #{id}
    </update>

    <select id="getPatient" parameterType="String" resultType="com.HospitalSystem_Pojo.Entity.Patient">
        select id, name, sex, birthdate, password from Patient where id = #{id}
    </select>

    <select id="searchPatientsByKeyword" parameterType="String" resultType="com.HospitalSystem_Pojo.Entity.Patient">
        select id, name, sex, birthdate, password from Patient where id LIKE CONCAT('%', #{keyword}, '%') OR name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="getAllPatients" resultType="com.HospitalSystem_Pojo.Entity.Patient">
        select * from Patient
    </select>

    <select id="getPatientsForPagination" parameterType="com.HospitalSystem_Pojo.Entity.Page" resultType="com.HospitalSystem_Pojo.Entity.Patient">
        select id, name, sex, birthdate, password from patient limit #{start}, #{size}
    </select>

    <select id="searchPatientsForPagination" resultType="com.HospitalSystem_Pojo.Entity.Patient">
        select id, name, sex, birthdate, password from Patient where id LIKE CONCAT('%', #{keyword}, '%') OR name LIKE CONCAT('%', #{keyword}, '%')
        limit #{page.start}, #{page.size}
    </select>

    <select id="getCounts" resultType="Integer">
        select count(*) from Patient
    </select>

</mapper>